*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
ENV/
.venv/
.idea/
.vscode/
.DS_Store
Thumbs.db
Desktop.ini
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl
.cache/
.mypy_cache/
*.sqlite3
*.db
.ipynb_checkpoints/
*.log
.coverage
.coverage.*
nosetests.xml
test_*.xml
